<!DOCTYPE html>
<html lang="en">
<head>
  <title>Dig Archive</title>
  <meta charset="ISO-8859-1"> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="assets/css/main.css">
</head>
<body>
  <header>
    <h1>🗄️ Dig Archive</h1>
    <p>An archived collection of digitized media art, text, zines, videos, and other saved works from around the net, and beyond.</p>
    <button onclick="randomizeOrder()">randomize</button>
    <button onclick="sortAlphabetical()">alphabetical</button>
    <button onclick="restoreOriginalOrder()">editor's order</button>
    <button onclick="goToRandomLink()">random page</button>
  </header>
  <main>
<div class="grid-container">
